<div>
	<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
	
	</td>
	</tr>
</table>

<% if signed_in? %>
        <%= render 'shared/nanopost_form' %>

</div>
<div class = "postings">
<% unless @user.nanoposts.empty? %>
         <%= render @nanoposts %> 
         <%= will_paginate @nanoposts %>
<% end %>
<%end%>
</div>